<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407622055595-7t0rcmv810nbpprdcat3qlrb6o2pjn3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407622055595-7t0rcmv810nbpprdcat3qlrb6o2pjn3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBXg1U4-8QJqgkP3IrX9QQtDWivi4xlHCY</string>
	<key>GCM_SENDER_ID</key>
	<string>407622055595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.argonteq.prospectx</string>
	<key>PROJECT_ID</key>
	<string>twilio-voice-call-fe18d</string>
	<key>STORAGE_BUCKET</key>
	<string>twilio-voice-call-fe18d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407622055595:ios:8d211e0c033dbc4c88e9ee</string>
</dict>
</plist>